node_modules
.next
out
npm-debug.log
.env
.env.*
!.env.example
*.log
coverage
.git
.gitignore
README.md
.storybook
storybook-static
playwright-report
test-results
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
